body {
  padding-top: 70px;
  background: url("../images/fabric_of_squares_gray.png") repeat 0 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn', Georgia, Times, serif; }

h1, h2 {
  text-shadow: 1px 1px 1px #ccc; }

p, div {
  font-family: 'Nobile', Helvetica, Arial, sans-serif; }

table {
  margin-top: 30px; }
  table tr th.text-right {
    padding-right: 25px; }

.centered, .col-centered {
  float: none;
  margin: 0 auto; }
