.row
  .col-sm-6.col-sm-offset-3.text-center
    %h1
      Lower Pines Campgrounds
    %p
      Last updated at:
      = @query.created_at.localtime.strftime("%-d-%b-%Y - %l:%M%P %Z")
.row
  .col-sm-6.col-sm-offset-3
    %table.table.table-condensed.table-responsive.table-striped.tablesorter
      %thead
        %tr
          %th Camp Site
          %th.text-right Open Date
      %tbody
        - @query.availabilities.order(:site).each do |availability|
          %tr
            %td= availability.site
            %td.text-right= link_to availability.date,  availability.url
