.row
  .col-sm-6.col-sm-offset-3.text-center
    %h1
      Lower Pines Campgrounds
    %p
      Last updated at:
      %span
        %time{datetime: @query.created_at.iso8601, |
              "data-localtime-format" => "dd-MMM-yyyy h:mmtt Z"}

.row
  .col-sm-6.col-sm-offset-3
    %table.table.table-condensed.table-responsive.table-striped.tablesorter
      %thead
        %tr
          %th Camp Site
          %th.text-right Open Date
      %tbody
        - @query.availabilities.order(:site).each do |availability|
          %tr
            %td= availability.site
            %td.text-right= link_to availability.date,  availability.url
